# Import Data & Packages

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
project_root = os.path.dirname(os.getcwd())
data_directory = os.path.join(project_root, 'datasets')
df1 = pd.read_csv(os.path.join(data_directory, 'hate_speech_dataset.csv'))
df2 = pd.read_csv(os.path.join(data_directory, 'toxic_comment.csv'))

In [4]:
df1.shape, df2.shape

((24783, 7), (159571, 8))

# Merging datasets

## Class distribution

##### Hate Speech DataSet

In [5]:
df1.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [1]:
df2.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [7]:
# Check for class distribution and possible imbalance
df1['class'].value_counts()

class
1    19190
2     4163
0     1430
Name: count, dtype: int64

In [9]:
# check class distribution for df2
result = df2.toxic.sum(), df2.severe_toxic.sum(), df2.obscene.sum(), df2.threat.sum(), df2.insult.sum(), df2.identity_hate.sum()
result

(15294, 1595, 8449, 478, 7877, 1405)

In [12]:
df2.shape[0] - np.sum(result, axis=0)

124473